.contactBox-container {
    display: flex;
}

.contactBox-container:hover {
    box-shadow: 0px 0px 20px 0px rgb(99, 99, 99);

}

.contactBox-container:hover .contacBox-icon {
    border: 3px solid rgb(0, 0, 0);
}

.contactBox-container:hover {
    cursor: pointer;
}

.contacBox-icon {
    /* border: 3px solid #ddd; */
    border-radius: 100%;
    padding: 5px;
    width: 100px;

}


.contactBox-image-container {
    padding-left: 20px;

}

.contactBox-details-container {
    padding-left: 28px;
    padding-top: 8px;

}

.contactBox-characterName {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.contacBox-species {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}